@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Space+Grotesk:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Space Grotesk', sans-serif ;
    font-size: 18px;
}
.container{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  max-width: 800px;
  
}
.topCard{
    background-image: url(images/bg-main-mobile.png);
    height: 30vh;
    
    
}
.cardback{
    width: 80%;
    position: relative;
    left:15%;
    top:10%;
}
.cardfront{
    width: 80%;
    position: relative;
    left: 5%;
    bottom: 11%;
    

}
.details{
    width: 90%;
    height: 65vh;
    padding: 10px;
}
input{
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    
}
.expiry{
    display: block;
    margin-bottom: 10px;
}
.datei{
    display: inline-block;
    width: 17%;
    margin: 3px;
}
.cvc{
    display: inline;
    width: 60%;
    margin: 3px;
}
button{
    margin-top: 30px;
    padding: 5% 39%;
    border-radius: 10px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    
}
@media screen and (min-width:375px){
    .topCard{
        background-image: url(images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 35vh;
        margin-bottom: 60px;
       
        
    }
    .cardback{
        top: 24%;
    }
    .cardfront{
        bottom: 0;
    }
    .cvc{
        width: 57%;
    }
    input{
        margin: 20px 0 20px 0;   
    }
}
@media screen and (min-width:520px){
    .topCard{
        background-image: url(images/bg-main-mobile.png);
        background-repeat: no-repeat;
        height: 50vh;
        margin-bottom: 50px;
        
    }
}
@media screen and (min-width:700px){
    .topCard{
        background-image: url(images/bg-main-mobile.png);
        background-repeat: no-repeat;
        height: 50vh;
        margin-bottom: 130px;
        
    }
    .cvc{
        width: 61.5%;
    }
    button{
        padding: 5% 44%;
    }
}
@media screen and (min-width:1220px){
    .container{
        width: 100%;
        display: flex;
        flex-direction: row;
        max-width: 1440px;
        
    }
    .topCard{
        width: 45%;
        height: 100vh;
        margin-right: 200px;
    }
    .details{
        width: 35%;
        margin-left: 80px;
    }
    .cardback{
        top:550px;
        left: 300px;
    }
   .cardfront{
    bottom:80px;
    left: 220px;
   }
   .cvc{
    width: 60.2%;
   }
   button{
    padding: 5% 43%;
   }
}